*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
  
}
.yousaf-card{
    height: 50vh;
    border: 1px solid;
    border-radius: 20px;
}
.card-title{
    width: 85%;
}
.icon-link{
    font-size: 24px;
}